.footer-container{
    background-color: #464040;
    color: aliceblue;

}

.footer-list{
    list-style: none;
    text-decoration: none;

}

.language-footer{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background: 10px solid goldenrod;
    justify-content: flex-start;
  
  }
  .footer-p{
      font-size: 20px:
      color: rgba(47,86,135,1);
      font-weight: bold;
      font-style: italic;
      text-decoration-color: aliceblue
      display: block;
      margin: 40px 0 0 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(187,187,187,0.2);
  }
.nav-link{
    text-decoration: none;
}
  