.highlights {
    
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}


.wrapper-text h2 {
    text-emphasis: bold;
}

.video-container {
    color: white;
    display: grid;
    align-items: end;
    height: 500px;
    width: 1fr;
    overflow: hidden;
    position: relative;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

}
