.top-menu {
    background: var(--black);
    color: red;
}
search-box input{
    border: solid black;
    font-size: 1em;
    background-color: gray;
  }
  search-box input: hover{
    cursor: pointer;
  }